<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <link rel="stylesheet" href="/static/styles/styles.css">
    <script src="/static/script.js" defer></script> 
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.13.3/dist/cdn.min.js"></script>
</head>
<body>
<div id="div-wrapper">
    <!-- Main Chat Container -->
    <main id="chat-container" x-data="chatbotApp()" x-init="initChatbot">
            
        <!-- Chat Header -->
        <header id="chat-header">
            <span id="more-options"><img src="./static/images/conversation.png" alt="Conversation"></span> <!-- Triple dot icon -->
            <span id="chat-title">Conversation window</span>
            <div id="window-controls">
                <span class="window-control" @click="minimizeChat()"><img src="./static/images/minimize.png" alt="Minimize"></span>
                <span class="window-control" @click="maximizeChat()"><img src="./static/images/maximize.png" alt="Maximize"></span>
                <span class="window-control" @click="closeChat()"><img src="./static/images/close.png" alt="Close"></span>
            </div>
        </header>

        <!-- Chat Controls -->
        <section id="chat-controls">
            <button id="clear-chat" @click="clearChat()" aria-label="Clear Chat">Clear Chat</button>
        </section>

        <!-- Chat Log -->
        <section id="chat-log">
            <template x-for="message in chatbot.conversationHistory" :key="message.timestamp">
                <div :class="{'user-message': message.sender === userName, 'bot-message': message.sender === botName}">
                    <strong x-text="message.sender"></strong>: <span x-text="message.message"></span>
                </div>
            </template>
        </section>
        <!-- smilies :D -->
        <div id="smileys-container" style="display: none;">
            <span class="smiley">😊</span>
            <span class="smiley">😂</span>
            <span class="smiley">😍</span>
            <span class="smiley">😢</span>
            <span class="smiley">😡</span>
            <span class="smiley">👍</span>
            <span class="smiley">🙏</span>
            <span class="smiley">🎉</span>
            <span class="smiley">❤️</span>
            <span class="smiley">💔</span>
        </div>
        <!-- Chat Input -->
        <section id="chat-input">
            <div id="input-container">
                <input id="chat-text-input" type="text" x-model="userInput" @keyup.enter="sendMessage" placeholder="Type here and press enter...">
                <button id="add-smile" @click="addSmile()"><img src="./static/images/smile.gif" alt="Smile"></button>
                <label for="file-upload" class="custom-file-upload"><img src="./static/images/file.png" alt="File"></label>
                <input id="file-upload" type="file" @change="chatbot.sendFile($event)" style="display: none;"/>
            </div>
            <button id="send-button" @click="sendMessage">Send</button>
        </section>

        <!-- Rating Section -->
        <footer id="rate-me">
            <span>Rate me</span>
            <button class="rate-button" @click="rateChatbot(1)">1</button>
            <button class="rate-button" @click="rateChatbot(2)">2</button>
            <button class="rate-button" @click="rateChatbot(3)">3</button>
            <button class="rate-button" @click="rateChatbot(4)">4</button>
            <button class="rate-button" @click="rateChatbot(5)">5</button>
        </footer>
    </main>

</div>
<!-- Minimized Circle -->
<div id="minimized-circle" @click="restoreChat()">Click Me</div>
<!-- Externalized Scripts -->
<script src="/static/chatbotApp.js"></script>
<script src="/static/rateChatbot.js"></script>
</body>
</html>